.card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 80px;
  margin: 10px auto;
  padding: 5px 30px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
}

.card__description-text {
  font-size: 1.4rem;
  color: #383838;
}

.card__description-time {
  font-size: 0.8rem;
  color: #555;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:checked + * {
  text-decoration: line-through;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: -3px;
  width: 16px;
  height: 16px;
  background-color:#e9e9e9;
  border: 2px solid #383838;
  border-radius: 12px;
}

input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: -3px;
  width: 16px;
  height: 16px;
  background-color:#38b000;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 4px;
}

.card__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  gap: 10px;
}

.card__actions button{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 10px 10px 20px #cbced1, -2px -2px 8px #ffffff;
  transition: 0.2s;
}

.card__actions-edit:hover {
  background: #0466c8;
  color: #FFF;
}

.card__actions-delete:hover {
  background: #d90429;
  color: #FFF;
}